body{
  background-color: #151D26;
}

.container {
  height: 100%;   
  overflow: hidden; 
  margin: 0px;  
  display: flex;  
  box-sizing: border-box;
  font-family: 'Dongle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151D26;
  color: #0FAEBF;
}

.column {
  height: 100%;  
  display: flex;
  flex-direction: column;  
}

.right {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
}

.left {
  flex-shrink: 0;  
  padding-right: 1000px;
}

.top-left {
  flex-shrink: 0;
}

.top-right {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: space-evenly;
}

ul {
  display: inline-flex;
  list-style: none;
}

.bottom {
  flex-grow: 1;  
  overflow-y: auto;
}

.share-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border:solid 1px white;
  border-radius: 5%;
  box-shadow: 0px 10px 14px -7px #404059;
  background-color: #2D3C59
}

button {
  background-color: #2D3C59; 
  border: none;
  color: white;
  padding: 0px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.edit-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}

.charts {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 100%;
}