body {
  margin: 0;
  font-family: 'Dongle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: grid; 
  grid-template-columns: 0.8fr 1.2fr 1fr; 
  grid-template-rows: 0.4fr 1.6fr 0.7fr 1.3fr 1fr; 
  gap: 10px 10px; 
  grid-template-areas: 
    "top-header top-header top-header"
    "total-value main-1 main-1"
    "sidebar main-1 main-1"
    "sidebar main-2 main-2"
    "sidebar main-2 main-2"; 
    justify-items: stretch; 
    align-items: stretch; 
}

.top-header { 
  grid-area: top-header; 
}
.total-value { 
  grid-area: total-value; 
}
.sidebar { 
  grid-area: sidebar; 
}

.main-1 { 
  grid-area: main-1; 
}
.main-2 { 
  grid-area: main-2; 
}
