/* body {
  margin: 0;
  font-family: 'Dongle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: grid; 
  grid-template-columns: 200px 300px 300px; 
  grid-template-rows: 52px 2.1px 305px 205px 100px; 
  gap: 0px 0px; 
  grid-template-areas: 
    "top-header top-header top-header"
    "sidebar main-1 main-1"
    "sidebar main-1 main-1"
    "sidebar main-2 main-2"
    "sidebar main-2 main-2"; 
};

.top-header { 
  grid-area: top-header; 
  max-width: 100px;
  display: flex;
  justify-content: space-evenly;
};

.sidebar { 
  grid-area: sidebar; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100px;
};

.main-1 { 
  grid-area: main-1; 
  max-width: 100px;
  max-height: 50px;
};

.main-2 { 
  grid-area: main-2;
  max-width: 100px;
  max-height: 50px;
 };

.header-nav-bar {
display: flex;
justify-content: space-evenly;
}; */




.container {
  height: 100%;   
  overflow: hidden; 
  margin: 0px;  
  display: flex;  
  box-sizing: border-box;
  font-family: 'Dongle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: navy;
  color: aliceblue;
}

.column {
  height: 100%;  
  display: flex;
  flex-direction: column;  
}

.left {
  flex-shrink: 0;  
}

.top-left {
  flex-shrink: 0;
}

.top-right {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: space-evenly;
}

ul {
  display: inline-flex;
  list-style: none;
}

.bottom {
  flex-grow: 1;  
  overflow-y: auto;  
}